@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-light); /* Use background-light variable */
  color: var(--content-DEFAULT); /* Use content-DEFAULT variable */ 
}

* {
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
}

/* index.css with improved dark mode styles */
@layer base {
  :root {
    --primary-light: #facc15;    
    --primary-DEFAULT: #fbbf24;  
    --primary-dark: #f59e0b;     

    --background-light: #ffffff;  
    --background-DEFAULT: #f3f4f6;
    --background-dark: #e5e7eb;   

    --content-light: #4b5563;     
    --content-DEFAULT: #374151;   
    --content-dark: #1f2937;      
  }

  .dark {
    --primary-light: #f97316;    
    --primary-DEFAULT: #ea580c; 
    --primary-dark: #c2410c;    
    
    --background-light: #1c1917;  
    --background-DEFAULT: #292524;
    --background-dark: #1c1917;   
    
    --content-light: #d6d3d1;    
    --content-DEFAULT: #e7e5e4;   
    --content-dark: #f5f5f4;      
  }
}