node_modules/
*.env
*.env.local
*.env.development
*.env.test
*.env.production
/Docs
.DS_Store
.gitignore
.tar.gz
deployment/dist/workbox-1ea6f077 2.js
deployment 2.tar.gz
deployment.tar.gz
.vscode
.code-workspace
package-lock.json
.code-workspace/
/dist/
deployment/dist/

